* {
  text-decoration: none;
  box-sizing: content-box;
  color: #fff;
  outline: none;
  background: none repeat scroll 0 0 transparent;
  border: 0;
  border-spacing: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}

body {
  background-image: url(assests/images/Header-llustration-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0;
  padding: 0;
}

.header .logo,
nav {
  display: none;
}

.desktop-header {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  align-items: baseline;
  margin: 1% auto;
}

button,
a {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.grow-up {
  animation: grow-up 1s ease-in-out;
}
@keyframes grow-up {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.green-btn a,
.projectBtn a,
.resume-btn a {
  padding: 4%;
  white-space: nowrap;
}

.aboutme1 a {
  margin: 1.5% auto;
  padding: 1.1%;
  align-self: stretch;
}

.desktop-header li {
  opacity: 1;
}

.header .menuPage {
  display: none;
}

.poppage a {
  cursor: pointer;
  transition: 0.5s;
}

.desktop-header li a {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 85%;
  font-weight: 700;
  cursor: pointer;
  color: #172b4d;
}

.header-1:hover {
  opacity: 0.8;
}

/* main section */
.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1%;
  width: 98%;
  align-items: center;
  justify-content: center;
}

/* headlines section */
.headlines {
  display: flex;
  background-image: none;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

.headlinesContent {
  padding: 2% 17% 0 17%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.headlinesContent > * {
  width: 100%;
}

/* .supporting-content-mobile {
  display: none;
} */

.primary,
.primary-span {
  margin-top: 9.5%;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 3rem;
  line-height: 67%;
  color: #172b4d;
  display: block;
}

.primary-span {
  color: #36b37e;
  margin-top: 3%;
}

.supporting-content {
  color: #172b4d;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 120%;
  width: 100%;
  padding-right: 3%;
  letter-spacing: 0;
  margin: 1.5% 3%;
  display: block;
}

.headlines-contact-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 25%;
  padding-bottom: 4%;
  padding-top: 3%;
}

.headlines-contact-icons li {
  flex: 1;
}

.downarrowBtn {
  margin-top: 12%;
  width: 6%;
  margin-bottom: 12%;
  align-self: center;
  margin-right: 4%;
}

/* popup page section */
.popupPage {
  display: none;
}

.showPage {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  position: fixed;
  background: #fff;
  z-index: 1;
  top: 0;
  bottom: 0;
  box-sizing: border-box;
  padding: 1%;
  overflow-y: scroll;
  margin-right: 1%;
}

/* poppage Close Button  */
.pageX {
  background-color: #ebecf0;
  padding: 0.5%;
  color: #67798e;
  margin-left: 96%;
  margin-bottom: 0;
  margin-top: 1%;
  border-radius: 4px;
}

.pageX:hover,
.pageX:focus {
  opacity: 0.7;
  cursor: pointer;
  transition: all 0.3s;
}

.poppage-buttons li a {
  text-align: center;
  border-radius: 5px;
  padding: 4%;
  flex: 1;
  height: 30px;
  align-content: center;
  background: #172b4d;
  border: 2px solid transparent;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 14pt;
  letter-spacing: 0.001em;
  word-spacing: normal;
  color: #fff;
  cursor: pointer;
  white-space: nowrap;
}

.poppage a:hover,
.poppage a:focus {
  background: #172b4d;
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.poppage a:active {
  transition: all 0.15s;
  background: #172b4d;
  box-shadow: none;
}

.poppage-buttons {
  display: flex;
  flex-direction: row;
  align-items: end;
  text-align: center;
  justify-content: end;
  justify-items: end;
  margin-bottom: 3%;
  flex: 1;
}

.poppage-buttons li {
  margin: 0 2.5%;
  width: 17vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.labels {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
  flex-wrap: wrap;
  gap: 1%;
  margin-bottom: 2%;
  margin-top: 2%;
}

.labels li {
  color: #3a4a42;
  background: #ebf0ee;
  font-family: "Inter", sans-serif;
  font-weight: 550;
  font-size: 80%;
  letter-spacing: 0.01em;
  border: 1px solid transparent;
  white-space: nowrap;
  border-radius: 8px;
  padding: 1%;
}

.poppage-desktop-img {
  margin: 0 auto;
  padding: 1%;
  justify-content: center;
  width: 100%;
  align-self: center;
}

.poppage-mobile-img {
  display: none;
}

.mobile-content {
  display: none;
}

footer {
  display: none;
}

/* poppage main section */
.poppage {
  text-align: left;
  border-radius: 16px;
}

/* all elements in .poppage */
.poppage > * {
  text-align: left;
  margin-left: 1%;
  padding: 2%;
}

.first-section {
  display: flex;
  flex-direction: row;
}

.title-desktop {
  flex: 2;
  width: 50%;
  color: #172b4d;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 180%;
  letter-spacing: 0.03rem;
  line-height: 1.3;
  text-align: left;
}

.p-1 {
  text-align: left;
  color: #344563;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 2%;
}

/* work section */
.my-work {
  display: grid;
  justify-items: center;
  justify-content: center;
  width: 100%;
  gap: 2%;
}

.myworkHeader {
  color: #172b4d;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  padding-top: 5%;
  width: 100%;
  text-align: center;
  margin-top: 7%;
  display: block;
}

.small-indcator {
  display: none;
}

.projects {
  display: grid;
  justify-items: center;
  width: 100vw;
  grid-template-columns: repeat(3, 27%);
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-content: center;
  gap: 2.5%;
  align-items: center;
  margin-bottom: 5%;
}

.projects > li {
  display: flex;
  background: #fff;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border: 1px solid grey;
  border-radius: 10px;
  width: 100%;
  height: auto;
  margin-top: 4%;
  padding: 1%;
}

.project_img {
  flex: 1.5;
  width: 95%;
  padding: 3% 1% 1% 1%;
  align-self: stretch;
}

.projectConetent {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 5px solid transparent;
  border-radius: 4px;
  align-items: center;
  width: 100%;
  background: #fff;
  color: #fff;
}

.project1-content-sec1,
.project2-content-sec1,
.project3-content-sec1,
.project4-content-sec1,
.project5-content-sec1,
.project6-content-sec1 {
  color: #3a4a42;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.7rem;
  background: #fff;
  margin-top: 4%;
  flex: 1;
}

.project1-content-sec2,
.project2-content-sec2,
.project3-content-sec2,
.project4-content-sec2,
.project5-content-sec2,
.project6-content-sec2 {
  flex: 1;
  gap: 2%;
  margin: 2% 2% 4% 2%;
  width: 90%;
  padding: 1%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.project1-content-sec2 li,
.project2-content-sec2 li,
.project3-content-sec2 li,
.project4-content-sec2 li,
.project5-content-sec2 li,
.project6-content-sec2 li,
.about-me-2 li {
  color: #3a4a42;
  background: #ebf0ee;
  font-family: "Inter", sans-serif;
  font-weight: 450;
  font-size: 1rem;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 3%;
  white-space: nowrap;
}

.green-btn,
.resume-btn,
.projectBtn {
  transition: all 0.5s;
  cursor: pointer;
  background: #36b37f;
  border: 2px solid transparent;
  border-radius: 6px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 85%;
  color: white;
  transition-duration: 0.4s;
  padding: 3.5%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.menu-button button img,
.headlines-contact-icons li button img,
.contact-me-contact-icons li button img {
  opacity: 1;
  cursor: pointer;
  background: transparent;
  color: transparent;
  transition-duration: 0.4s;
}

button:hover {
  background: #36b37f;
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

button:active {
  transition: all 0.15s;
  background: #008552;
  box-shadow: none;
}

.downarrowBtn:hover,
.socialbtn:hover,
.menu-button:hover,
.logo:hover {
  opacity: 0.8;
  transition: all 0.15s;
  background: transparent;
  box-shadow: none;
}

.downarrowBtn:active,
.socialbtn:active {
  transition: all 0.15s;
  background: transparent;
  background-clip: content-box;
  box-shadow: none;
}

/* about me section */
.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  padding: 2%;
  margin-top: 3%;
}

.aboutme1 {
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  background-image: url(assests/images/aboutbackground-desktop.svg);
  background-repeat: no-repeat;
  box-sizing: content-box;
  background-position: revert;
  background-size: 100% 100%;
  background-clip: border-box;
  background-origin: content-box;
}

.about-me-header {
  color: #172b4d;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 3.5rem;
  margin: 2% 1% 1% 1%;
  padding-top: 2%;
}

.about-me-1 {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.about-me-1-mobile {
  display: none;
}

.about-me-1-desktop {
  display: block;
  color: #42526e;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 125%;
  width: 100%;
  margin-bottom: 1%;
  letter-spacing: 0.04em;
}

.aboutme2 {
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2%;
  width: 92%;
}

.skills,
.framworks,
.languages {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid grey;
  border-radius: 16px;
  width: 100%;
  padding: 1%;
  background: #ebf0ee;
  margin-top: 2%;
}

.languages-img,
.framworks-img,
.skills-img {
  flex: 1;
  width: 100%;
}

.languages-text,
.framworks-text,
.skills-text {
  flex: 0.1;
  color: #344563;
  align-self: center;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 150%;
}

.skills-lis,
.framworks-lis,
.languages-lis {
  flex: 0.9;
  gap: 2%;
  width: 96%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}

.framworks-lis li,
.languages-lis li,
.skills-lis li {
  font-family: "Inter", sans-serif;
  font-weight: 550;
  font-size: 80%;
  color: #36b37e;
  letter-spacing: 0.01em;
  background: #fff;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 2%;
  white-space: nowrap;
  flex: 1;
}

/* contact me section */
.contact-me {
  background-image: url(assests/images/contactbackground-desktop.svg);
  background-size: 100% 113%;
  background-repeat: no-repeat;
  background-position: bottom;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 99%;
  margin-top: 2.5%;
  margin-bottom: 0;
  align-content: center;
  padding: 2%;
}

.contact-desktop {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  align-content: center;
  justify-items: center;
  padding: 0;
  gap: 0.4%;
}

.contact-mobile {
  display: none;
}

/* .contact-me-header-mobile {
  display: none;
} */

.contact-me-header-desktop {
  display: block;
  color: #172b4d;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  padding-top: 2%;
  margin-left: 1.8%;
  line-height: 1.5em;
  letter-spacing: 0.01rem;
  text-align: left;
  flex: 1.2;
}

.input-form-mobile {
  display: none;
}

.input-form-desktop {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: left;
  margin-right: 1%;
}

.fullName {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  gap: 3%;
  width: 97.5%;
}

.input-form-desktop textarea,
input,
.name {
  font-family: "Inter", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #172b4d;
  background: #fff;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  margin: 1% 0;
  padding: 10px;
  width: 95%;
  text-align: left;
}

.green-btn-submit {
  transition: all 0.5s;
  transition-duration: 0.5s;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 6px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 85%;
  color: white;
  padding: 1.5%;
  margin-top: 1%;
  white-space: nowrap;
}

.details {
  background: #fff;
  border: 1px solid #60c095;
  height: 20%;
  word-break: break-all;
  font-style: normal;
}

.contact-email {
  display: none;
}

.contact-me-contact-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  width: 100%;
  margin-top: 1%;
}

.longendingline {
  margin-top: 5%;
}

.contact-me-contact-icons li {
  margin: 1%;
}

.longindicator {
  display: none;
}
