* {
  text-decoration: none;
  box-sizing: content-box;
  color: #fff;
  outline: none;
  background: none repeat scroll 0 0 transparent;
  border: 0;
  border-spacing: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  background-image: url(assests/images/Header-llustration-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0;
  padding: 0;
}

img {
  opacity: 1;
}

svg:hover {
  fill: none;
  background: transparent;
  outline: transparent;
  color: transparent;
  background-color: transparent;

}
img:hover {
  opacity: .5;

}

img:focus{
  background-color: transparent;
outline-style: none;
outline-color: 0; 
outline: 0;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1%;
  width: 98%;
  align-items: center;
  justify-content: center;
}

.header .logo,
nav {
  display: none;
}

.desktop-header {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  align-items: baseline;
  margin: 1% auto;
}

.green-btn a,
.resume-btn a {
  padding: 4%;
  white-space: nowrap;
}

.desktop-header li a {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 85%;
  font-weight: 700;
  cursor: pointer;
  color: #172b4d;
}

/* headlines section */
.headlines {
  display: flex;
  background-image: none;
  width: 70%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

.primary-mobile {
  display: none;
}

.supporting-content-mobile {
  display: none;
}

.dev-span-mobile {
  display: none;
}

.primary-desktop {
  margin-top: 10%;
  width: 100%;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 165%;
  line-height: 32px;
  letter-spacing: 0.25px;
  color: #172b4d;
}

.dev-span-desktop {
  color: #36b37e;
}

.supporting-content-desktop {
  color: #172b4d;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 85%;
  line-height: 136%;
  width: 100%;
  margin-top: 2.5%;
}

.headlines-contact-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 10%;
  margin-top: 2.5%;
  padding: -1%;
  gap: 10px;
}

.down-arrow-btn {
  margin-top: 5%;
}

/* work section */
.my-work {
  display: grid;
  justify-items: center;
}

.my-work-header-mobile {
  display: none;
}

.my-work-header-desktop {
  color: #172b4d;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 175%;
  padding-top: 5%;
  width: 100%;
  text-align: center;
  margin-top: 18%;
}

.start {
  color: #172b4d;
  width: 100%;
  margin-top: 3%;
  margin-bottom: 3%;
}

.small-indcator {
  display: none;
}

.projects {
  display: grid;
  justify-items: center;
  width: 100%;
  grid-template-columns: repeat(3, 25%);
  grid-template-rows: 1fr 1fr;
  gap: 3%;
  justify-content: center;
}

.project,
.last-project {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid grey;
  border-radius: 12px;
  width: 100%;
  padding: 2%;
  align-items: stretch;
  justify-self: center;
  align-self: center;
}

.project1-conetent,
.project2-conetent,
.project3-conetent,
.project4-conetent,
.project5-conetent,
.project6-conetent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 5px solid transparent;
  border-radius: 4px;
  align-items: center;
  width: auto;
  background: #fff;
  color: #fff;
}

.project1-content-sec1,
.project2-content-sec1,
.project3-content-sec1,
.project4-content-sec1,
.project5-content-sec1,
.project6-content-sec1 {
  color: #3a4a42;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 85%;
  background: #fff;
  margin-top: 4%;
}

.project1-content-sec2,
.project2-content-sec2,
.project3-content-sec2,
.project4-content-sec2,
.project5-content-sec2,
.project6-content-sec2 {
  gap: 2%;
  margin: 5% 2% 4% 2%;
  width: 96%;
  padding: 2%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.project1-content-sec2 li,
.project2-content-sec2 li,
.project3-content-sec2 li,
.project4-content-sec2 li,
.project5-content-sec2 li,
.project6-content-sec2 li,
.about-me-2 li {
  color: #3a4a42;
  background: #ebf0ee;
  font-family: "Inter", sans-serif;
  font-weight: 450;
  font-size: 62%;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 2%;
  white-space: nowrap;
}

.green-btn,
.resume-btn {
  transition: all 0.5s;
  cursor: pointer;
  background: #36b37f;
  border: 2px solid transparent;
  border-radius: 6px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 85%;
  color: white;
  transition-duration: 0.4s;
  padding: 2.5%;
  margin-top: 3%;
  margin-bottom: 5%;
}

.menu-button button img,
.headlines-contact-icons li button img,
.contact-me-contact-icons li button img {
  cursor: pointer;
  background: transparent;
  color: transparent;
  transition-duration: 0.4s;
}

button {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button:hover {
  background: #36b37f;
  color: transparent;
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

button:active {
  transition: all 0.15s;
  background: #008552;
}

.downarrow-btn:hover, 
.socialbtn:hover {
  transition: all 0.15s;
  box-sizing: content-box;
  background-clip: content-box;
  background: transparent;
  box-shadow: transparent;
 
}

.downarrow-btn:active,
.socialbtn:active  {
  transition: all 0.15s;
  background: transparent;
  background-clip: content-box;
  box-shadow: transparent;
}

/* about me section */
.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 2%;
  margin-top: 8%;
}

.aboutme1 {
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  background-image: url(assests/images/aboutbackground-desktop.svg);
  background-repeat: no-repeat;
  box-sizing: content-box;
  background-position: revert;
  background-size: contain;
  background-clip: border-box;
  background-origin: content-box;
}

.about-me-header {
  color: #172b4d;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 180%;
  margin: 4% 1% 1% 1%;
  padding-top: 4%;
}

.about-me-1 {
  color: #42526e;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 85%;
  line-height: 122%;
  margin: 1% 9%;
}

.resume-btn {
  padding: 1.5%;
  margin-top: 2%;
  margin-bottom: 4%;
}

.aboutme2 {
  display: flex;
  flex-direction: row;
  align-items: inherit;
  gap: 5%;
}

.skills,
.framworks,
.languages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid grey;
  border-radius: 16px;
  width: 100%;
  padding: 2%;
  margin-top: 8%;
  background: #ebf0ee;
}

.languages-img,
.framworks-img,
.skills-img {
  margin-bottom: 5%;
}

.languages-text,
.framworks-text,
.skills-text {
  flex: 0.5;
  margin-top: 5%;
  color: #344563;
  align-self: center;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 150%;
}

.skills-lis,
.framworks-lis,
.languages-lis {
  flex: 0.5;
  gap: 2%;
  margin: 4%;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 2%;
  align-content: inherit;
}

.framworks-lis li,
.languages-lis li,
.skills-lis li {
  font-family: "Inter", sans-serif;
  font-weight: 550;
  font-size: 80%;
  color: #36b37e;
  letter-spacing: 0.01em;
  background: #fff;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 2%;
  margin: 1.5%;
  white-space: nowrap;
  flex: 1;
}

/* contact me section */
.contact-me {
  background-image: url(assests/images/contactbackground-desktop.svg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 7%;
}

.contact-me-header-mobile {
  display: none;
}

.contact-me-header-desktop {
  color: #172b4d;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 140%;
  margin-left: 7%;
  padding-top: 4%;
  letter-spacing: 0.01rem;
  width: 50%;
  text-align: left;
}

.input-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.input-form input,
textarea {
  font-family: "Inter", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #172b4d;
  background: #fff;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  margin: 12px 0 12px 0;
  padding: 5px;
  width: 90%;
  text-align: left;
}

.green-btn-submit {
  transition: all 0.5s;
  cursor: pointer;
  background: #36b37f;
  border: 2px solid transparent;
  border-radius: 6px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 85%;
  color: white;
  transition-duration: 0.4s;
  padding: 1.5%;
  margin-top: 1%;
  align-self: self-start;
  margin-bottom: 4%;
  margin-left: 5%;
}

.details {
  background: #fff;
  border: 1px solid #60c095;
  height: 15vh;
  word-break: break-all;
  font-style: normal;
}

.contact-email {
  display: none;
}

.contact-me-contact-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  width: 100%;
  margin-top: 1%;
}

.longendingline {
  margin-top: 5%;
}

.contact-me-contact-icons li {
  margin: 1%;
}

.longindicator {
  display: none;
}
