* {
  box-sizing: border-box;
  outline: none;
  background: none repeat scroll 0 0 transparent;
  border: 0;
  border-spacing: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1%;
  width: 98%;
  align-items: center;
}

/* header section */
.header {
  display: flex;
  justify-content: space-between;
  margin: 1%;
  padding: 1%;
  width: 100%;
  align-items: baseline;
}

.mylogo {
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-size: 55%;
  font-weight: 700;
  margin-left: 5%;
  border: none;
  text-decoration: none;
  cursor: pointer;
  color: #172b4d;
}

.menu-button {
  margin-right: 5%;
}

/* headlines section */
.headlines {
  background-image: url(assests/images/header-illsutration-mobile.svg);
  background-repeat: no-repeat;
  background-size: 104% 101%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-bottom: 5%;
}

.primary {
  color: #172b4d;
  font-family: "poppins", sans-serif;
  font-weight: 700;
  font-size: 180%;
  margin: 16% 1% 5% 2%;
  padding-top: 5%;
  width: 95%;
  text-align: center;
}

.dev-span {
  color: #36b37e;
}

.supporting-content {
  color: #172b4d;
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 100%;
  line-height: 125%;
  width: 100%;
}

.headlines-contact-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 14%;
  width: 100%;
}

.headlines-contact-icons li {
  margin: 1% 3%;
}

.downarrow {
  color: #505f79;
}

.downarrow-div {
  margin-top: 5%;
}

/* my-work section */
.my-work {
  display: grid;
  justify-items: center;
  padding: 0 0 7% 0;
  margin: 0 5%;
  width: 100%;
}

.my-work-header {
  color: #172b4d;
  font-family: "poppins", sans-serif;
  font-weight: 700;
  font-size: 180%;
  margin: 16% 1% 5% 2%;
  padding-top: 5%;
  width: 95%;
  text-align: center;
}

.start {
  color: #172b4d;
  width: 98%;
  margin-top: 8%;
  margin-bottom: 2%;
}

.project,
.last-project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid grey;
  border-radius: 16px;
  width: 96%;
  padding: 2%;
  margin-top: 8%;
}

.project1-conetent,
.project2-conetent,
.project3-conetent,
.project4-conetent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 5px solid gainsboro;
  border-radius: 4px;
}

.project1-content-sec1,
.project2-content-sec1,
.project3-content-sec1,
.project4-content-sec1 {
  color: #3a4a42;
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 115%;
  background: #fff;
  padding: 2%;
}

.project1-content-sec2,
.project2-content-sec2,
.project3-content-sec2,
.project4-content-sec2 {
  gap: 10px;
  margin: 7% 2% 5% 2%;
  width: 97%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.project1-content-sec2 li,
.project2-content-sec2 li,
.project3-content-sec2 li,
.project4-content-sec2 li,
.about-me-2 li {
  color: #3a4a42;
  background: #ebf0ee;
  font-family: "poppins", sans-serif;
  font-weight: 550;
  font-size: 80%;
  letter-spacing: 0.01em;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 2%;
  white-space: nowrap;
}

.green-btn button,
.poppage-4 button {
  background: #36b37f;
  border: 2px solid transparent;
  border-radius: 6px;
  padding: 3%;
  margin: 1%;
  width: auto;
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 100%;
  letter-spacing: 0.001em;
  word-spacing: normal;
  color: white;
  cursor: pointer;
  transition-duration: 0.4s;
}

.menu-button button img,
.headlines-contact-icons li button img,
.finalpart-contact-icons li button img {
  cursor: pointer;
  transition-duration: 0.4s;
}

*button:hover {
  background-color: transparent;
  color: #36b37f;
}

/* about me */
.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 2%;
  margin-top: 8%;
}

.aboutme1 {
  background-image: url(assests/images/aboutme2.svg), url(assests/images/about-me22.svg);
  background-repeat: no-repeat;
  box-sizing: border-box;
  background-position: revert;
  background-size: 22% 179%, 183% 31%;
  background-clip: border-box;
  background-origin: content-box;
  width: 100%;
}

.about-me-header {
  color: #172b4d;
  font-family: "poppins", sans-serif;
  font-weight: 700;
  font-size: 180%;
  margin: 16% 1% 5% 2%;
  padding-top: 5%;
  width: 95%;
  text-align: center;
}

.about-me-1 {
  color: #42526e;
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 100%;
  line-height: 125%;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 7%;
}

.green-btn {
  padding: 2%;
  width: 96%;
  margin: 2%;
}

.skills,
.framworks,
.languages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid grey;
  border-radius: 16px;
  width: 100%;
  padding: 2%;
  margin-top: 8%;
  background: #ebf0ee;
}

.languages-text,
.framworks-text,
.skills-text {
  margin-top: 10%;
  margin-bottom: 5%;
  color: #344563;
  align-self: center;
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 150%;
  line-height: 5%;
}

.skills-lis,
.framworks-lis,
.languages-lis {
  gap: 10px;
  margin: 7% 2% 5% 2%;
  width: 97%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.framworks-lis li,
.languages-lis li,
.skills-lis li {
  font-family: "poppins", sans-serif;
  font-weight: 550;
  font-size: 80%;
  color: #36b37e;
  letter-spacing: 0.01em;
  background: #fff;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 2%;
  white-space: nowrap;
}

.small-li {
  flex: 0.5;
}

.mid-li {
  flex: 0.8;
}

.big-li {
  flex: 1;
}

/* Final section */
.final-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 2%;
  margin-top: 8%;
}

.final-part-header {
  color: #172b4d;
  font-family: "poppins", sans-serif;
  font-weight: 700;
  font-size: 180%;
  margin: 16% 1% 5% 1%;
  padding-top: 5%;
  width: 100%;
  text-align: center;
}

.input-form input,
textarea {
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  background: #fff;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  margin: 3px 0 5px 0;
  padding: 5px;
  width: 90%;
}

.details {
  background: #fff;
  border: 1px solid #60c095;
  height: 15vh;
  word-break: break-all;
}

.contact-email {
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
}

.finalpart-contact-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  width: 100%;
  margin-top: 10%;
  margin-bottom: 5%;
}

.finalpart-contact-icons li {
  margin: 1% 3%;
}
