/* stylelint-disable no-missing-end-of-source-newline */
* {
  box-sizing: border-box;
  outline: none;
  background: none repeat scroll 0 0 transparent;
  border: 0;
  border-spacing: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  align-items: center;
  text-align: center;
  margin: 1%;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 1%;
  padding: 1%;
  align-items: baseline;
}

.mylogo {
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-size: 55%;
  font-weight: 700;
  margin-left: 5%;
  border: none;
  text-decoration: none;
  cursor: pointer;
  color: #172b4d;
}

.menu-button {
  margin-right: 5%;
}

.headlines {
  background-image: url(assests/images/header-illsutration-mobile.svg);
  background-repeat: no-repeat;
  background-size: 107% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding-bottom: 4%;
}

.primary {
  font-family: "poppins", sans-serif;
  font-weight: 700;
  font-size: 180%;
  margin: 6vh 0 0.2vh 0;
  padding-top: 10vw;
  width: 100%;
  text-align: center;
}

.dev-span {
  color: #36b37e;
}

.supporting-content {
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 450;
  font-size: 100%;
  line-height: 115%;
  margin: 1.5%;
  padding: 1%;
  width: 96%;
}

.contact-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 6vh;
}

.contact-icons li {
  margin: 1vh 1vw;
}

.downarrow {
  color: #505f79;
}

.downarrow-div {
  margin-top: 60px;
}

/* my-work section */
.my-work {
  display: grid;
  height: 100%;
  margin: 0 auto;
  padding: 0 0 5px 0;
}

.start {
  width: 100%;
  margin-top: 10vh;
  margin-bottom: 5vh;
}

.project,
.last-project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid grey;
  border-radius: 16px;
  width: 100%;
  padding: 2%;
  margin-top: 5vh;
}

.aboutme-header {
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.aboutme-header div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10px auto 20px auto;
  padding: 0 0 5px 0;
}

.project1-conetent,
.project2-conetent,
.project3-conetent,
.project4-conetent {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 5px solid gainsboro;
  border-radius: 4px;
}

.project1-content-sec1,
.project2-content-sec1,
.project3-content-sec1,
.project4-content-sec1 {
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  background: #fff;
  padding: 12px;
}

.project1-content-sec2,
.project2-content-sec2,
.project3-content-sec2,
.project4-content-sec2 {
  width: 92vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.project1-content-sec2 label,
.project2-content-sec2 label,
.project3-content-sec2 label,
.project4-content-sec2 label,
.about-me-2 label {
  margin: 0 auto;
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #3a4a42;
  letter-spacing: 0.03em;
  background: #ebf0ee;
  border: 2px solid transparent;
  border-radius: 4px;
  padding: 11px;
}

.project1-content-sec3,
.project2-content-sec3,
.project3-content-sec3,
.project4-content-sec3 {
  text-align: center;
  background: #fff;
  border-radius: 4px;
  padding: 20px 10px 10px 10px;
}

.green-btn button,
.poppage-4 button {
  background: #36b37f;
  border: 2px solid transparent;
  border-radius: 4px;
  padding: 2%;
  margin: 2%;
  width: 35%;
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 85%;
  text-align: center;
  letter-spacing: 0.025em;
  word-spacing: normal;
  color: white;
  cursor: pointer;
  transition-duration: 0.4s;
}

.menu-button button,
.contact-icons *li button {
  cursor: pointer;
  transition-duration: 0.4s;
}

*button:hover {
  background-color: transparent;
  color: #36b37f;
}

.about-me {
  text-align: left;
  margin-top: 35px;
}

.about-me div {
  color: #172b4d;
  font-family: "poppins", sans-serif;
  text-align: left;
  margin-bottom: 20px;
}

.about-me-1 {
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.about-me-3 {
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}
